registry=http://10.200.0.9:21000/repository/npm-all/
init.author.name = Yaacov
init.author.email = yaacov@superup.me
# an email is required to publish npm packages
email=yaacov@superup.me
always-auth=true
_auth=eWFhY292Yjp1bml4MTE=
